<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1>Create New Restaurant</h1>
      <form action="/restaurants/save" enctype="multipart/form-data" method="post">
        <p>Name:</p><input type="text" name="name">
        <p>Description:</p><textarea name="description"></textarea>
        <p>Rating:</p><input type="text" name="rating">
        <p>Open?:</p><input type="text" name="open">
        <p>Ingredients:</p>
        <% for(let i=0; i < cuisines.length; i++) { %>
        <input type="checkbox" name="cuisines" value="<%= cuisines[i]._id %>"><%= cuisines[i].name %><br>
        <% } %>

        <input type="file" name="image" />
        <input type="submit" value="submit resto">
      </form>
    </div>
  </body>
</html>
